<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.android.peakfresh"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"
                     android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Main_Activity">

        </activity>

        <activity android:name=".ui.Detail_Activity"
                  android:label="@string/title_activity_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Main_Activity" />
        </activity>

        <activity android:name=".ui.NewProduct_Activity"
                  android:label="@string/title_newProduct_Activity"
                  android:theme="@style/DialogTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Main_Activity" />
        </activity>

        <activity android:name=".ui.SettingsActivity"
                  android:label="Settings"
                  android:parentActivityName=".ui.Main_Activity"
                  android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Main_Activity" />
        </activity>

        <activity android:name=".ui.DeleteCategoryDialogActivity"
                  android:label="Delete Categories"
                  android:parentActivityName=".ui.SettingsActivity">

        </activity>

        <provider
            android:authorities="com.example.android.peakfresh.data.ProductContentProvider"
            android:name=".data.generated.ProductContentProvider"
            android:exported="true"/>
        <provider
            android:authorities="com.example.android.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".BootReceiver"
                  android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:process=":remote" android:name=".AlarmReceiver" />
        <service android:name=".NotificationService" />

        <receiver android:name=".widget.WidgetAppProvider"
            android:exported="true"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.example.android.peakfresh.app.ACTION_DATA_UPDATED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget"/>
        </receiver>

        <service android:name=".widget.WidgetRemoteViewService"
                 android:enabled="true"
                 android:exported="true"
                 android:theme="@style/MainTheme"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>